.table_wrapper{
    border: 2px solid rgba(67, 88, 117, 0.08);
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background: #FDFDFF;
}

table{
    width: 100%;
}
.tdh{
    text-align: left;
    padding: 16px 22px 16px 22px;
    font-weight: 500;
    width: 10%;
}

.trh{
    border-bottom: 2px solid rgba(67, 88, 117, 0.08);
    font-weight: 500;
}

.tdb{
    text-align: left;
    padding: 16px 22px 16px 22px;
}

.trb{
    border-bottom: 1px solid rgba(67, 88, 117, 0.08);
}

.trb:hover{
    background: rgba(67, 88, 117, 0.05);
    transition: 300ms;
    cursor: pointer;
}

.table_content_wrapper{
    height: calc(100% - 170px);
}

.custom_input_search{
    position: relative;
    min-width: 100%;
}

.custom_input_search input{
    font-family: Inter;
    font-size: 16px;
    background: rgba(67, 88, 117, 0.05);
    color: #899fb7;
    height: 60px;
    padding: 12px 48px;
    border-radius: 12px 12px 0px 0px;
    border: none;
    color: #435875;
    width: 100%;
}

.custom_input_search input:focus{

    outline: none;
    border: none;
    border-bottom: 2px solid rgba(67, 88, 117, 0.08);
    background: #ffffff;
}

.custom_input_search svg{
    position: absolute;
    top: 50%;
    left: 22px;
    width: 18px;
    height: 18px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}