.table_wrapper{
    border: 2px solid rgba(67, 88, 117, 0.08);
    border-radius: 12px;
    width: 100%;
    height: 92%;
    background: #FDFDFF;
}

table{
    width: 100%;
}
.tdh{
    text-align: left;
    padding: 16px 22px 16px 22px;
    font-weight: 500;
    width: 10%;
}

.trh{
    border-bottom: 2px solid rgba(67, 88, 117, 0.08);
    font-weight: 500;
}

.tdb{
    text-align: left;
    padding: 16px 22px 16px 22px;
}

.trb{
    border-bottom: 1px solid rgba(67, 88, 117, 0.08);
}

.trb:hover{
    background: rgba(67, 88, 117, 0.05);
    transition: 300ms;
    cursor: pointer;
}

.table_content_wrapper{
    height: calc(100% - 110px);
}

.table_buttons_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 22px;
    align-items: start;
}

.buttonsWrapper{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
}

.searchResultsList{
    opacity: 100;
    display: flex;
    position: absolute;
    top: 300px;
    left: 0;
    flex-direction: column;
    gap: 4px;
    border: 1px solid rgba(67, 88, 117, 0.12);
    border-radius: 8px;
    padding: 4px;
    background: #FFFFFF;
    z-index: 999;
    width: 96%;
    margin-left: 2%;
    box-shadow: 0px 74px 44px rgba(0, 0, 0, 0.02), 0px 33px 33px rgba(0, 0, 0, 0.03), 0px 8px 18px rgba(0, 0, 0, 0.03), 0px 0px 0px rgba(0, 0, 0, 0.03);
    transition: 400ms;
}

.searchResultsList a{
    text-decoration: none;
}

.searchResult{
    padding: 8px 12px;
    border-radius: 6px;
}

.searchResult:hover {
    background: rgba(67, 88, 117, 0.05);
}

.searchResultsList h2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    color: #435875;
    margin: 0 0 2px 0;
}

.searchResultsList h3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    color: #899fb7;
    margin: 0;
}

.invisible{
    opacity: 0;
    height: 0px;
}

.divider{
    height: 1px;
    margin: 0 12px;
    background: rgba(67, 88, 117, 0.12);
}

.divider:last-child{
    display: none;
}

.input_and_button{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
    background: rgba(67, 88, 117, 0.02);
    border-radius: 8px;
    border: 1px solid rgba(67, 88, 117, 0.22);
}

.buttonsGroup{
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
}