.header{
    display: flex;
    height: 80px;
    justify-content: right;
    align-items: center;
    padding-right: 80px;
    border-bottom: 2px solid rgba(67, 88, 117, 0.08);
}

.user{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: left;
}

.user p {
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.user_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.user_wrapper img{
    height: 50px;
    width: 50px;
    border-radius: 12px;
}