.reportCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    gap: 14px;
    background: #F9FAFF;
    border: 1px solid rgba(67, 88, 117, 0.08);
    box-shadow: 0px 71px 28px rgba(0, 0, 0, 0.01), 0px 40px 24px rgba(0, 0, 0, 0.02), 0px 18px 18px rgba(0, 0, 0, 0.03), 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 0px 0px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    color: #435875;
    font-family: Inter;
    font-size: 18px;
    word-break: normal;
    white-space: break-spaces;
    cursor: pointer;
    transition: 400ms;
}

.reportCard:hover{
    margin-top: -12px;
    margin-bottom: 12px;
    transition: 400ms;
}

.reportCardinWork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    gap: 14px;
    background: #F2F3FA;
    border: 1px solid rgba(67, 88, 117, 0.16);
    box-shadow: 0px 71px 28px rgba(0, 0, 0, 0.01), 0px 40px 24px rgba(0, 0, 0, 0.02), 0px 18px 18px rgba(0, 0, 0, 0.03), 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 0px 0px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    color: #435875;
    font-family: Inter;
    font-size: 18px;
    word-break: normal;
    white-space: break-spaces;
}

.reportCard .icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E0EDFF;
    border-radius: 10px;
}

.reportCardinWork .icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(67, 88, 117, 0.05);
    border-radius: 10px;
}
